<div class="col-md-12">
  <form #loginForm="ngForm" (ngSubmit)="save(loginForm)" id="loginForm">
    <div class="col-md-3 col-offset-2">
      <label for="login"><span class="form-required"></span>LOGIN</label>
    </div>
    <div class="col-md-4">
      <input type="text" id ="login" name="login" maxlength="50"
             [(ngModel)]="user.login" required #libelle="ngModel" />
    </div>

    <div class="col-md-3 col-offset-2">
      <label for="password"><span class="form-required"></span>PASSWORD</label>
    </div>
    <div class="col-md-4">
      <input type="text" id ="password" name="password" maxlength="50"
             [(ngModel)]="user.password" required #libelle="ngModel" />
    </div>
    <button (submit)="save(loginForm)">{{'buttons.submit' | translate }}</button>
  </form>
</div>
