<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
  <div class="modal-body">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
      <input type="text" name="channelName" class="form-control" placeholder="Channel's name" [(ngModel)]="channelCopy.name" #channelName="ngModel" required/>
      <p-message *ngIf="f.submitted && !channelName.valid" class="help-block" severity="error" text="Name is required"></p-message>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
      <input type="text" name="channelQuery" class="form-control" placeholder="Channel's query" [(ngModel)]="channelCopy.query" #channelQuery="ngModel"  [pKeyFilter]="queryRule" required/>
      <p-message *ngIf="f.submitted && !channelQuery.valid" severity="error" text="Query is required"></p-message>
      <p-message *ngIf="errorText" severity="error" text="{{errorText}}"></p-message>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Save</button>
  </div>
</form>
