.channel-item {
  border-bottom: 1px solid #D5D5D5;
}

.channel-item {
  text-align: center;
}

.channel-item {
  font-weight: bold;
}

.channel-name {
  font-size: 18px
}

.title-container {
  padding: 1em;
}

@media (max-width: 40em) {
  .channel-item {
    text-align: center;
  }
}
