<div class="ui-g">
  <div class="ui-g-12">
    <p-virtualScroller [value]="channels" scrollHeight="500px" [itemSize]="40">
      <p-header>
        <div class="ui-g">
          <div class="ui-g-12 title-container">
            List of channels
          </div>
        </div>
      </p-header>
      <ng-template pTemplate="item" let-channel let-i="index">
        <div class="ui-g channel-item">
          <div class="channel-name">{{channel.name}}</div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </div>
  <div class="ui-g-12">
    <button class="btn btn-lg btn-secondary" (click)="createChannel()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
    </button>
  </div>
</div>
