<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New Channel</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <div class="form-group">
      <div class="input-group">
        <input id="channelName" class="form-control" placeholder="Channel's name" name="channelName" [(ngModel)]="channelCopy.name" #channelName="ngModel" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input id="channelQuery" class="form-control" placeholder="Channel's query" name="channelQuery" [(ngModel)]="channelCopy.query" #channelQuery="ngModel" required/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-dark">Save</button>
</div>
