<app-left-menu class="ui-g-4 bg-dark" (channelClicked)= "loadLinksLinkedToChannel($event)"
               (channelDeletedOrEdited)="reloadLinks()"></app-left-menu>
<div class="ui-g-8">
  <h1> {{channelTitle}}</h1>
  <button type="button" (click)="newLink()" class="btn btn-primary">{{'buttons.newLink' | translate}}</button>
  <div *ngFor="let link of links" class="ui-g-9">
      <app-link-item class="ui-g-6"
                     [link] = "link">
      </app-link-item>
      <div class="ui-g-3 btn-group" role="group">
        <button type="button" class="btn btn-primary btn-group" (click)="updateLink(link.id)">{{'buttons.upLink' | translate}}</button>
        <button type="button" class="btn btn-danger btn-group" (click)="deleteLink(link)">{{'buttons.delLink' | translate}}</button>
      </div>
  </div>
</div>
